html,
body {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.container {
    padding: .25rem;
    margin: 0 auto !important;
    align-items: center;
}

#container2 {
    padding: .8rem;
    margin: 0 auto;
    max-width: 1200px;
}



header a {
    text-decoration: none;
    color: black;
}

header a:hover{
    text-decoration: none;
    color: black;
}

header h1 {
    font-size: 3rem;
    font-family: 'Lato', sans-serif;
    margin: .2rem 0 0 0;
}

header h3 {
    font-size: 1.28rem;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
}

.addStatButton, .changeTeamButton {
    font-family: 'Open Sans', sans-serif;
    background-color: #cc5500;
    border: 2px solid black;
    /* font-size: .8rem; */
    /* padding: 1rem; */
    /* line-height: 5px; */
    font-weight: 700;
    border-radius: 4px;
    margin: .25rem .75rem;
}

.teamTitle {
    text-align: center;
    font-family: 'Lato', sans-serif;
}


.teamTitleDiv {
    display: flex;
    justify-content: center;
}

.teamTitleDiv button {
    background-color: white;
    border: none;
}

.indexButtons {
    display: flex;
    flex-direction: column;

}

.indexButtons button {
    font-family: 'Open Sans', sans-serif;
    background-color: #cc5500;
    padding: .5rem;
    font-size: 1rem;
    font-weight: 700;
    margin: .4rem 0;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;

}

.indexButtons select {
    padding: .5rem;
    font-size: 1rem;
}

.spinner-border {
    display: none;
}

/* Player card styles */

#rosterDiv {
    display: grid;
    gap: .8rem;
    margin-top: 1rem;
}



@media screen and (min-width: 503px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;

    }

    #rosterDiv {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        max-width: 100%;
    }

    .indexButtons button,
    .indexButtons select {
        font-size: 1.6rem;
    }

    .bottomDiv {
        max-width: 100%;
    }

    .bottomDiv button {
        margin: .2rem 4% !important;
        width: 92%;
    }

    .indexButtons {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .bottomDiv p {
        font-size: smaller;
    }
}

.playerDiv {
    display: flex;
    flex-direction: column;
    padding: .2rem;
    max-width: 92vw;

}

.topDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;


}

.topDiv button {
    font-family: 'Open Sans', sans-serif;
    background-color: #cc5500;
    border: 2px solid black;
    font-size: .8rem;
    padding: .75rem;
    line-height: 1px;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;

}

.topDiv h3 {
    padding: .3rem 1rem;
    border: 2px black solid;
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
    margin: 0;
}

.bottomDiv {
    border: black 2px solid;
}

.bottomDiv img {
    max-width: 100%;

}

.bottomDiv p {
    margin: .25rem .75rem;
}

.bottomDiv button {
    font-family: 'Open Sans', sans-serif;
    background-color: #cc5500;
    border: 2px solid black;
    font-size: .8rem;
    padding: .75rem;
    line-height: 5px;
    font-weight: 700;
    border-radius: 4px;
    margin: .25rem .75rem;
    max-width: 82vw;
    cursor: pointer;
}

/* Add/edit player pages styles */

.rejectDupMessage{
    outline: 2px solid red !important;
    background-color: pink;
}

.rejectDupMessage::placeholder {
    color: red !important;
    font-weight: 600;
    
}

.editButtons {
    display: flex;
    justify-content: space-between;

}

.editButtons button {
    display: none;
    font-family: 'Open Sans', sans-serif;
    background-color: #cc5500;
    border: 2px solid black;
    font-weight: 700;
    cursor: pointer;
}

.editButtons2 button{
    font-family: 'Open Sans', sans-serif;
    background-color: #cc5500;
    border: 2px solid black;
    font-weight: 700;
    cursor: pointer;

}

.returnToRoster, .addAnother {
    display: none;
}


#submit{
    text-align: right;
}

.submitButtonActive{
    font-family: 'Open Sans', sans-serif;
    background-color: #cc5500;
    padding: .5rem;
    font-size: 1rem;
    font-weight: 700;
    margin: .4rem 0;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
}

.submitButtonDisabled{
    font-family: 'Open Sans', sans-serif;
    background-color: gray;
    padding: .5rem;
    font-size: 1rem;
    font-weight: 700;
    margin: .4rem 0;
    border: 2px solid black;
    border-radius: 8px;
    cursor: not-allowed !important;

}

.confirmRemovePlayer {
    font-family: 'Open Sans', sans-serif;
    background-color: #cc5500;
    border: 2px solid black;
    font-weight: 700;
    border-radius: 4px;
    margin: .25rem .75rem;
}

.playerTeamName{
    font-size: 3rem;
    border: none;
    margin: 1rem 0;
}

.playerPic {
    max-width: 375px;
    padding-right: 1rem;
}

.editInputs {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid black;
    border-left: none;
}

.editInputs::placeholder {
    color: black;
}

#nameInput {
    font-size: 2rem;
    border: none;
}

#numberInput, #numberDisplay {
    border: 1px gray solid;
    max-width: 5rem;
    text-align: center;
    font-size: 2rem;
}

/* Player Info Top Grid */

.upperDiv {
    display: flex;
    margin-bottom: 1rem;
}

.picDiv {
    max-width: 359px;
}

.picInput{
    width: 100%;
    margin-top: .5rem;
}

.playerInfoDiv {
    padding: 0 0 0 1rem;
}

.nameAndNumberDiv {
    display: flex;
    justify-content: space-between;
    margin-bottom: .75rem;
}

.statTitle{
    display: flex;
    justify-content: space-between;
}

.detailsDiv {
    display: grid;
    gap: .05rem 2rem;
    grid-template-columns: 1fr 1fr;
}

.detailsDiv div{
    display: flex;
    max-width: 100%;
    justify-content: space-between;

}

.starterDiv{
    padding-top: .4rem;
}

.detailsDiv input{
    width: 50%;
    line-height: 1;
    font-size: 1rem;
    padding: .1rem;
}

.detailsDiv label{
    margin: 0;
    font-size: 1.2rem;
}

#starter{
    font-family: 'Open Sans', sans-serif;
    background-color: #cc5500;
    border: 2px solid black;
    font-weight: 700;
    border-radius: 4px;
}

/* Player Info Bottom Grid */

.statsForm, .extraStatsForm{
    display: grid;
    gap: .05rem 2rem;
    grid-template-columns: 1fr 1fr 1fr;

}


.statsForm input, .extraStatsForm input{
    max-width: 30%;
    font-size: .8rem;
    padding: .1rem;
    line-height: 1;
}

.statsForm label, .extraStatsForm label{
    margin: 0;
    line-height: 1;
}

.statsForm div, .extraStatsForm div{
    display: flex;
    max-width: 60%;
    justify-content: space-between;

}

@media screen and (max-width: 769px) {
    .picDiv {
        max-width: 100%;
    }
    .picInput{
        padding: 1rem .2rem;
        text-align: center;
        
    }

    .playerTeamName{
        font-size: 2rem;
        max-width: 100% !important;
    }
    /* .teamNameDiv{
        
    } */
    .upperDiv {
        display: block;
        margin: 1rem auto !important;

    }

    .statsForm, .extraStatsForm{
        display: grid;
        gap: .05rem 1rem;
        grid-template-columns: 1fr !important;
    
    }

.playerPic{
    max-width: 100%;
    padding: .5rem 0;
}
    #nameInput {
        font-size: 1.5rem;
        max-width: 70%;
    }

    #numberInput {
        border: 1px gray solid;
        font-size: 1.5rem;
        max-width: 30%;
    }
    .playerInfoDiv {
        padding: .75rem 0;
    }
    .detailsDiv {
        grid-template-columns: 1fr !important;
    }

    .statsForm div, .extraStatsForm div{
        max-width: 100%;
        padding: .5rem 0;
    }
    .statsForm input, .extraStatsForm input{
        max-width: 3rem;
        font-size: 1.5rem;
      
        
    }
    .statsForm label, .extraStatsForm label{
        font-size: 2rem;
    }
    
}